@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Space+Grotesque:wght@400;500;700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-primary text-white font-sans;
    overflow-x: hidden;
  }
}